msvc_runtime==14.42.34433
pynetworktables==2021.0.0
pyntcore==2025.3.2.2
robotpy-cli==2024.0.0
robotpy-commands-v2==2025.3.2
robotpy-hal==2025.3.2.2
robotpy-native-ntcore==2025.3.2
robotpy-native-wpihal==2025.3.2
robotpy-native-wpilib==2025.3.2
robotpy-native-wpimath==2025.3.2
robotpy-native-wpinet==2025.3.2
robotpy-native-wpiutil==2025.3.2
robotpy-wpimath==2025.3.2.2
robotpy-wpinet==2025.3.2.2
robotpy-wpiutil==2025.3.2.2
ruff==0.11.11
typing_extensions==4.13.2
wpilib==2025.3.2.2
